<div class="container mt-5 w-25">
  <div class="row">
    <form [formGroup]="form">

      <!-- first name form field -->
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>First name</mat-label>
        <input formControlName="firstname" matInput />
        <mat-error
        style="font-size: 11px"
        *ngIf="myError('firstname', 'required')"
      >
        First Name is <strong>required</strong>
      </mat-error>
      </mat-form-field>

      <!-- last name form field -->
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Last name</mat-label>
        <input formControlName="lastname" matInput />
        <mat-error
          style="font-size: 11px"
          *ngIf="myError('lastname', 'required') "
        >
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- email form field -->
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
        <mat-error
          style="font-size: 11px; margin-bottom: 10px"
          *ngIf="myError('email', 'required') "
        >
          Email is <strong>required</strong>
        </mat-error>
        <mat-error
          style="font-size: 11px; margin-bottom: 10px"
          *ngIf="myError('email', 'email') "
        >
          <strong>invalid</strong> email format
        </mat-error>
      </mat-form-field>

      <!-- phone number form field -->
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input type="number" formControlName="phoneNumber" matInput />
        <mat-error
        style="font-size: 11px; margin-bottom: 10px"
        *ngIf="myError('phoneNumber', 'required') "
      >
        Email is <strong>required</strong>
      </mat-error>
        <mat-error
        style="font-size: 11px; margin-bottom: 10px"
        *ngIf="myError('phoneNumber', 'pattern') "
      >
        must be at <strong>10 digits</strong>
      </mat-error>

      </mat-form-field>

      <!-- Bank account form field -->
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Bank account number</mat-label>
        <input type="number" formControlName="bankAccountNumber" matInput />
        <mat-error
          style="font-size: 11px; margin-bottom: 10px"
          *ngIf="myError('bankAccountNumber', 'required')"
        >
          Bank Account Number is <strong>required</strong>
        </mat-error>
        <mat-error
          style="font-size: 11px; margin-bottom: 10px"
          *ngIf="myError('bankAccountNumber', 'pattern') "        >
          must be at <strong>9-18 digits long</strong>
        </mat-error>

      </mat-form-field>

      <!-- date of birth form field -->
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          formControlName="dateOfBirth"
          matInput
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="myError('dateOfBirth', 'required') "
          >Age is required</mat-error
        >
      </mat-form-field>

      <!-- unicue error form field -->
      <p
        style="font-size: 11px; margin-bottom: 10px; color: red"
        class="col-md-12"
        *ngIf="firstnameErr"
      >
        {{ firstname }}
      </p>
      <p
        style="font-size: 11px; margin-bottom: 10px; color: red"
        class="col-md-12"
        *ngIf="lastnameErr"
      >
        {{ lastname }}
      </p>
      <p
        style="font-size: 11px; margin-bottom: 10px; color: red"
        class="col-md-12"
        *ngIf="dateOfBirthErr"
      >
        {{ dateOfBirth }}
      </p>

      <!-- btn group form field -->
      <div class="d-flex justify-content-between">
        <button
          mat-raised-button
          color="primary"
          class="col-md-6"
          (click)="submit(form)"
        >
          Create my account
        </button>
        <button
          mat-raised-button
          color="warn"
          class="col-md-6"
          [routerLink]="['/auth/login']"
        >
          Back to login
        </button>
      </div>
    </form>
  </div>
</div>
